.contact-row {
  display: flex;
}

.contact-text {
  flex: 1;
  padding: 12px 42px 12px 12px;
  border-radius: 10px;
  background: #f6f4f4;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid #e0e0e0;
  word-break: break-word;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 5px;
}

.contact-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.copy-icon {
  all: unset;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-icon:hover {
  opacity: 0.7;
}

.copy-icon:active {
  transform: translateY(-50%) scale(0.9);
}

.copy-icon-img {
  width: 18px;
  height: 18px;
}


/* =========================
   EMERGENCY SECTION
========================= */
.emergency-wrapper {
  margin-top: 10px;
  margin: 5px;
}

.emergency-btn {
  display: flex;
  flex-direction: column;
  padding: 14px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  border-radius: 12px;
  text-decoration: none;
  background: #ffeaea;
  color: #c40000;
  border: 1px solid #ff3f3f;
}

.emergency-btn:hover {
  background: #ffdcdc;
}

/* Remove mobile tap highlight */
.contact-text,
.copy-icon,
.emergency-btn {
  -webkit-tap-highlight-color: transparent;
}

/* Prevent active color flash */
.contact-text:active,
.emergency-btn:active {
  background: #f6f4f4;
  color: #222;
}
