/* ===== COVER IMAGE ===== */
.cover-image{
    width: 100%;
    height: 300px;
}
.cover-image img {

  width: 100%;
  height: 300px;
  display: block;
   /* overlaps avatar */
}
.cover-badges {
  width: 100%;
  display: flex;
  justify-content: space-between; /* left-right alignment */            /* space between image and badges */
              /* horizontal padding */
}

.cover-left,
.cover-right {
  background: rgba(173, 216, 230, 0.5); /* light blue, semi-transparent */
  color: #000000;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3); /* soft blue shadow */
  text-transform: capitalize;
}

