
/* DOCUMENT LINK */
.document-link {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;

  padding: 12px 14px;
  margin-bottom: 10px;

  background: #0b0b0b;       /* dark background */
  border: 1px solid #e6e8ee;
  border-radius: 10px;

  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  color: #ffffff !important;
  cursor: pointer;
  margin: 5px;
}

/* fix last item spacing */
.document-link:last-child {
  margin-bottom: 0;
}



  /* modal overlay */
.document-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  box-sizing: border-box;
}

/* close button */
.close-modal {
  position: absolute;
  top: 10px;
  right: 120px;
  background: #fff;
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

/* iframe for document */
.document-iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  background: #fff;
}


/* ================================
   LAST ITEM FIX
================================ */
.document-link:last-child {
  margin-bottom: 0;
}
