
/* =========================
   EMERGENCY SECTION
========================= */
.emergency-wrapper {
  margin-top: 10px;
}

.emergency-btn {
  display: flex;
  flex-direction: column;
  padding: 14px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  border-radius: 12px;
  text-decoration: none;
  background: #ffeaea;
  color: #c40000;
  border: 1px solid #ffd1d1;
}

.emergency-btn:hover {
  background: #ffdcdc;
}
