
.profile-info {

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  padding: 0 15px;
  
}

.profile-image-avatar {
  width: 190px;
  height: 190px;
  margin-top: -100px;
  border-radius: 20%;
  border: 4px solid #ffffff;
  background: #ffffff;
  object-fit: cover;
  z-index: 10;
}

.profile-text h2 {
  margin: 8px 0 4px 0;
  font-size: 1.5rem;
}
.bio-of_profile{
  text-align: 'center';

}


.profile-text span {
  font-size: 0.9rem;
  color: #666;
}

.profile-text p {
  font-size: 0.95rem;
  margin: 6px 0 0 0;
}
