@import "./styles/base/reset.css";
@import "./styles/layout/profileLayout.css";
@import "./styles/components/coverImage.css";
@import "./styles/components/profileInfo.css";
@import "./styles/components/basicInfoCard.css";
@import "./styles/components/languagesSocial.css";
@import "./styles/components/documents.css";
@import "./styles/components/customLinks.css";
@import "./styles/components/contactInfo.css";
@import "./styles/components/upiPayment.css";
@import "./styles/components/emergency.css";
@import "./styles/components/addressSection.css";
@import "./styles/components/socialSection.css";
@import "./styles/components/profileSkeleton.css";
@import "./styles/responsive/mobile.css";

